{% extends 'base.html' %}
{% block title %} | Page Not Found {% endblock %}
{% block content %}
<section id="404" class="bg-light py-5">
  <div class="container col-md-12">
    <h1>OOPS!</h1>
    <p>This is embarrassing, we can't seem to find the page you are looking for. We are working hard to correct this issue. Please try again later.</p>
    <img src="img/home-sweet-home.png" alt="">
    <a class="btn btn-primary" href="{% url 'index' %}">Go Back to the Home Page...</a>
  </div>
</section>
{% endblock content %}